body {
    /* margin: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 640px;
    height: 640px;
    max-width: 640px;
    max-height: 640px;
    background-color: rgb(70, 70, 70);
}

.main-container {
    display: flex;

    /* flex */
    flex-shrink: 0;
    flex-direction: row;
}

.div-new {
    display: inline-block;
    background-color: rgba(173, 173, 173, 0.2);
}

.div-new {
    display: inline-flex;
    width: 40px;
    height: 40px;
    /* vertical-align: top; */
    /* border: 1px solid grey; */
    /* flex */
    flex-shrink: 0;
    flex-wrap: ;
}

.div-new:hover {
    background-color: rgb(54, 54, 54);
}
