/* GENERAL VARIABLES  */
:root {
    --black:#1E2022;
    --grey:#52616B;
    --light:#C9D6DF;
    --light-light:#F0F5F9;
}

body {
    margin: 0;
    background-color: var(--black);
}

.grid-container {
    width: 640px;
    height: 640px;
    max-width: 640px;
    max-height: 640px;
    background-color: var(--light);
}

.grid-container {
    display: inline-block;
    flex-shrink: 0;
    flex-direction: row;
}

.div-new {
    display: inline-block;
    background-color:rgb(82, 97, 107, 0.2);
}

.div-new {
    box-sizing: border-box;
    display: inline-flex;
    vertical-align: top;
    border: 1px solid var(--grey);
    flex-shrink: 0;
}

.div-new:hover {
    background-color: rgb(54, 54, 54);
}

