/* GENERAL STYLE */
body {
    display: flex;
    flex-direction: column;
}
/* header container  */
.header-container {
    display: flex;
    justify-content: space-between;
}

.save-drawings {
    width: 20px;
    height: 20px;
    background-color: pink;
}

.dark-light-mode {
    width: 20px;
    height: 20px;
    background-color: pink;
}

/* body container  */
.body-container {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

/* features container  */
.features-container {
    display: flex;
    flex-direction: column;
}

.color-selector {
    width: 20px;
    height: 20px;
    background-color: pink;
}

.undo-redo-button {
    width: 20px;
    height: 20px;
    background-color: pink;
}

.eraser-button {
    width: 20px;
    height: 20px;
    background-color: pink;
}

.clear-button {
    width: 20px;
    height: 20px;
    background-color: pink;
}

.input-size-selector {

}


/* grid container  */
.main-container {
    /* padding: 10px;
    border: 2px solid rgba(167, 167, 167, 0.5); */

    width: 640px;
    height: 640px;
    max-width: 640px;
    max-height: 640px;
    background-color: rgb(70, 70, 70);
}

.main-container {
    display: block;
    /* flex */
    flex-shrink: 0;
    flex-direction: row;
}

.div-new {
    display: inline-block;
    background-color: rgba(173, 173, 173, 0.2);
}

.div-new {
    box-sizing: border-box;
    display: inline-flex;
    /* width: 43px;
    height: 43px; */
    vertical-align: top;
    border: 1px solid grey;
    /* flex */
    flex-shrink: 0;
}

.div-new:hover {
    background-color: rgb(54, 54, 54);
}

/* footer container  */
.copyright-mark {
    text-align: center;
}